
    
<div id="{{placeholder}}" style="width:{{width}}px;height:{{height}}px"></div>
    
<script language="javascript" type="text/javascript" src="/media/js/jquery-1.5.1.js"></script>
<script language="javascript" type="text/javascript" src="/media/js/flot/jquery.flot.js"></script>
<script language="javascript" type="text/javascript" src="/gesplan/js/flot/jquery.flot.axislabels.js"></script>
    
<script id="source" language="javascript" type="text/javascript">
 
    var $j = jQuery.noConflict();
			 var $j = jQuery.noConflict();
				
			 $j(function () {

			     			
			     			
							var datasets = {};
							{%if datasets %}datasets = {{datasets}};{% endif %}
							 

							

					        var data = [];

					        $j.each(datasets, function(key) {
										data.push(datasets[key]);
							});
												
						
						                        
							$j.plot($j("{{placeholder}}"), data,{
								xaxis: {
								
							            {%if xAxisLabel %}
											axisLabel: '{{xAxisLabel}}',
											axisLabelUseCanvas: true,
											
											 {%if xAxisFontSize %}
												axisLabelFontSizePixels: {{xAxisFontSize}},
							                 {% endif %}
							                 
											 {%if xAxisFontFamily %}
												axisLabelFontFamily: '{{xAxisFontFamily}}',
							                 {% endif %}
							                 
											 {%if xAxisCentralize %}
												centralize: {{xAxisCentralize}},
							                 {% endif %}
							                 
							            {% endif %}
				                		 min: 0 , 
										},
				                yaxis: {
							            {%if yAxisLabel %}
											axisLabel: '{{yAxisLabel}}',
											axisLabelUseCanvas: true,
											
											 {%if yAxisFontSize %}
												axisLabelFontSizePixels: {{yAxisFontSize}},
							                 {% endif %}
							                 
											 {%if yAxisFontFamily %}
												axisLabelFontFamily: '{{yAxisFontFamily}}',
							                 {% endif %}
							                 
											 {%if yAxisCentralize %}
												centralize: {{yAxisCentralize}},
							                 {% endif %}
							                 
							            {% endif %}
		                		 	min: 0 , 
								},
				                series : {
					                bars: {
					                
											 {%if barWidth %}
												barWidth: {{barWidth}},
							                 {% endif %}
					                	}
				                },
				                 grid: {
				                	backgroundColor: { colors: ["#FFF", "#FFF"] }
				                }         
				            });
				            
						});
</script>
    a
    {{plotData.xAxis}}
    b
    {{plotData.yAxis}}
    c
